doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/vue.js')
    script(type='text/javascript', src='/javascripts/vue-resource.js')
  body
    block content
