.code-wrapper,
.code-rel,
iframe {
  width: 100%;
  border: none;
  border-radius: 5px;
  background: #FFF;
  color: #222;
  overflow: auto;
}

.reveal pre {
  margin: 0;
}

.code-wrapper,
.reveal .code-wrapper {
  white-space: pre;
  overflow-wrap: break-word;
  word-break: break-all;
  font-family: Consolas, Microsoft YaHei, serif;
  font-size: 13px;
  text-align: left !important;
}

.with-code {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.with-code .code-wrapper {
  width: 40%;
}

.with-code .code-rel {
  width: 59%;
}
